body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #0FA958;
  color: #fff;
  padding-top:5px;
  padding-left: 10px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

nav img {
  max-height: 120px;
  margin-bottom: 5px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 22px;
}

nav a:first-child {
  margin-right: 10px;
}

#det {
  background-color: #F1F0EA;
  padding: 80px 0;
}

.det-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.det-image {
  flex: 1;
  text-align: center;
  margin-top: -50px;
}

.det-image img {
  max-width: 100%;
  height: auto;
}

.det-description {
  flex: 1;
  margin-left: 40px;
}

.det-description h2 {
  font-size: 28px;
  color: #474954;
  margin-bottom: 20px;
}

.det-description p {
  font-size: 16px;
  color: #474954;
  margin-bottom: 30px;
}

.download-link {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 25px;
  background-color: #0FA958;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.download-link:hover {
  background-color: #0C8346;
}

@media screen and (max-width: 768px) {
  .det-content {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .det-image,
  .det-description {
    margin-left: 0;
    text-align: center;
  }
  
  .det-description p {
    margin-bottom: 20px;
  }
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

#features {
  position: relative;
  background-color: #2D2A32;
  padding: 1px;
  height: 500px; 
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
}

#features h3 {
  color: #fff;
  font-size: 28px;
}

.feature {
  text-align: center;
  margin-bottom: 50px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.feature.hidden {
  opacity: 0;
}

.feature img {
  width: 200px;
  height: 200px;
  object-fit: cover;

}

.feature h4, p {
  color: #fff;
}

#nextButton {
  position: absolute;
  right: 10px; /* Shift 10px to the left */
  top: 50%;
  transform: translateY(-50%);
  padding: 20px; /* Increase the padding for a bigger button */
  font-size: 40px; /* Increase the font size for a bigger arrow */
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

#nextButton:hover {
  opacity: 0.7; /* Adjust the opacity as needed */
  color: #0FA958;
}


#teams {
  position: relative;
  background-color: #F1F0EA;
  padding: 1px;
}

#teams h3 {
  color: #474954;
  font-size: 28px;
  text-align: center;
}

.team {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.team img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.teamContent {
  flex-grow: 1;
  margin-left: 20px;
}

.team h4,
.team p {
  color: #474954;
}

.teamContent a {
  text-decoration: none;
}

footer {
  background-color: #2D2A32;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.follow-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}

.footer-social a i {
  font-size: 40px;
}

.footer-text {
  font-size: 14px;
  opacity: 0.8;
}

