body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #0FA958;
  color: #fff;
  padding-top:5px;
  padding-left: 10px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

nav img {
  max-height: 120px;
  margin-bottom: 5px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 22px;
}

nav a:first-child {
  margin-right: 10px;
}

#det {
  background-color: #F7F0F5;
  color: #474954;
  padding: 100px 0;
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.det-content {
  display: flex;
  align-items: center;
}

.det-image img {
  max-width: 80%;
  height: auto;
}

.det-description {
  text-align: center;
  margin-right: 40px;
}

.det-description h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.det-description p {
  font-size: 15px;
  color: #474954;
}

.download-link {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #B5BAD0;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.download-link:hover {
  background-color: #0FA958;
}

#features {
  position: relative;
  background-color: #2D2A32;
  padding: 1px;
}

#features h3 {
  color: #fff;
  font-size: 28px;
}

.feature {
  text-align: center;
  margin-bottom: 50px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.feature.hidden {
  opacity: 0;
}

.feature img {
  width: 200px;
  height: 200px;
  object-fit: cover;

}

.feature h4, p {
  color: #fff;
}

#nextButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px 30px; /* Increase padding for a bigger button */
  font-size: 20px; /* Increase font size for a bigger button */
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#nextButton:hover {
  background-color: #0FA958;
}